@model TutorialsEUIdentity.Models.ProductModel

@{
    ViewData["Title"] = "Product Details";
}
<div>
    <div style="display: flex;">
        <div style="flex: 1;">
            <img src="@Url.Content("~/Uploads/" + Model.Image)" class="img-thumbnail" alt="Product Image" style="max-width:200px;" />
        </div>
        <div style="flex: 2; padding-left: 20px;">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <p>@Html.DisplayFor(model => model.Category)</p>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <p>@($"R{Model.Price:N0}")</p>
        </div>
    </div>
</div>